body{
background-color: rgb(149, 214, 240);
}

.clear {
clear: both;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

.icon {
top: -145px;
width: 60px;
height: 60px;
z-index: 2;
}

.inputcard {
width: 500px;
height: 500px;
}

.loadingcard {
width: 500px;
height: 50px;
}

.mainImage {
padding: 5px;
width: 150px;
height: 150px;
}

.password-button {
top: 5px;
right: 10px;
bottom: 10px;
}

.preview {
padding: 2px;
display: block;
margin-left: auto;
margin-right: auto; 
max-height: 190px;
max-width: 400px; 
}

.previewerror {
padding: 2px;
display: block;
margin-left: auto;
margin-right: auto; 
max-height: 150px;
max-width: 400px;
}

.smallinputcard {
width: 500px;
height: 264px;
}

.withpreview {
top: 300px;
}